<h1><%= @guest.name %></h1>
<h2><%= @guest.occupation %></h2>

<h3>Appearances:</h3>
<dl>
    <%@sorted.reverse.each do |appearance|%>
       <dt>Episode: <%= link_to appearance.episode.date.strftime("%B %d, %Y"), episode_path(appearance.episode) %></dt>
       <dd>Rating: <%= appearance.rating %></dd>
    <%end%>
</dl>