<%# On the Guest show page, add a list of the Episodes the Guest has appeared on.

For each Episode, show the:

- date of the Episode
- rating for the Appearance

Each Episode date should link to the show page for that Episode. %>
<h1><%= @guest.name %></h1>
<h3><strong>Appearances:</strong></h3>
<ul>
    <% @guest.sorted_appearances.each do |a| %>
        <li><%= link_to "Episode #{a.episode.number} - #{a.episode.date.strftime('%B %d, %Y')}", episode_path(a.episode) %></li>
            <ul>
                <li>Rating: <%= a.rating %></li>
            </ul>
        </li>
    <% end %>
</ul>