<h1> Episode Number <%= @episode.number %>, <%= @episode.date %></h1>
<h3> Episode's Guests: </h3>
<ul>
<% @episode.guests.each do |guest| %>
    <li> <%= link_to(guest.name, guest_path(guest)) %> </li>
<% end %>
</ul>

<p> Average Rating: <%= @episode.average_rating%></p>