<ul>
  <li><strong>Guest: </strong>
    <%= appearance.guest.name %>
  </li>
  <li><strong>Episode number: </strong>
    <%= appearance.episode.number %>
  </li>
  <li><strong>Rating:</strong> 
    <%= appearance.rating %>
  </li>
</ul>

